html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    
}

body{
    background-color: #ccc5b9;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

header{
    display: flex;
    justify-content: center;
    margin-bottom: 8em;
    background-color: #403d39;
    padding: 2em;
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.5) ;
}

header > h1{
    color: #eb5e28;
    font-size: 100px;
}

.dropdown{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

article{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
